.portfolio__container {
  display: grid;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
  grid-gap: 5%;
}

.urbanData {
  grid-row: 2/3;
}

.Desvariables {
  grid-row: 4/5;
}

.Federici {
  grid-row: 6/7;
}

.Generatrix {
  grid-row: 8/9;
}

.footer {
  height: 100px;
  width: 100%;
  background: black;
}

.section__aboutme {
  width: 100%;
  height: 50vh;
}

.arrow-down {
  background-image: url(../images/arrow-down-grey.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  width: 60px;
  height: 60px;
  border-style: none;
  margin-top: 200px;
  z-index: 100;
}

.section__contact {
  width: 100%;
  height: 40vh;
  background: grey;
}

.section__cover {
  width: 100%;
  height: 100vh;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero__title {
  width: 100%;
  margin-top: 100px;
}

.cover__logo {
  background-image: url(../images/logo-moni.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 354px;
  height: 143px;
}

.header__container {
  position: relative;
}

.header__button {
  background-image: url(../images/menu-square.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FF4159;
  position: absolute;
  width: 40px;
  height: 40px;
  border: 0;
  left: 0;
  padding: 5px;
}

.menu {
  position: relative;
  height: 100vh;
  width: 250px;
}

.burger__container {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  margin: 0;
}

.close {
  background-image: url(../images/cancel-music.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #FF4159;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 100%;
  border: 0;
}

.menu-list {
  width: 250px;
  height: 100vh;
  background-color: #2F302F;
  margin: 0;
  padding-left: 0;
  padding-top: 40px;
  opacity: 1;
  z-index: 1;
}

.option {
  list-style: none;
  text-align: left;
  border-top: 1px solid rgba(255, 65, 89, 0.5);
}

.menu__contact {
  border-bottom: 1px solid rgba(255, 65, 89, 0.5);
}

.option a {
  text-decoration: none;
  color: white;
  font-size: 90%;
  font-weight: 300;
  display: block;
  padding: 7%;
}

.close {
  margin-right: 100%;
}

.burger {
  position: fixed;
  left: 0;
  top: 0;
  background-color: transparent;
  -webkit-transition: -webkit-transform ease 0.7s background ease .7s .7s;
  transition: -webkit-transform ease 0.7s background ease .7s .7s;
  transition: transform ease 0.7s background ease .7s .7s;
  transition: transform ease 0.7s background ease .7s .7s, -webkit-transform ease 0.7s background ease .7s .7s;
  -webkit-transform: translateX(1500%);
  transform: translateX(1500%);
}

.menu-visible .burger {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.section__portfolio {
  width: 100%;
  background-color: #FFE5E8;
}

.work {
  width: 100%;
  height: 200px;
}

.portfolio__img {
  width: 100%;
  height: 200px;
}

.cover__title {
  font-size: 20px;
  text-align: center;
  color: #FF4159;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

section {
  padding: 20px;
}

@media all and (min-width: 619px) {
  .portfolio__container {
    grid-template-columns: repeat(1fr, 1fr);
    grid-template-rows: repeat(1fr, 1fr);
  }

  .urbanData {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .Desvariables {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .Federici {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .Generatrix {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

/*# sourceMappingURL=main.css.map */
