
.arrow-down {
	background-image: url(../images/arrow-down-grey.svg);
	background-position: center;
	background-repeat: no-repeat;
	width: $sizeArrow;
	height: $sizeArrow;
	border-style: solid;
	margin-top: 200px;
}
