.section__cover {
	width: 100%;
	height: 100vh;
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.hero__title {
	width: 100%;
	margin-top: 100px;
}

.cover__logo {
	background-image: url(../images/logo-moni.png);
	background-position: center;
	background-repeat: no-repeat;
	width: 354px;
	height: 143px;

}
